#output {
  height: 400px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  margin: 0 0 1rem 0;
  padding: 1rem;
  background-color: #fff;
  overflow: scroll;
}
#output:focus {
    outline: none;
  }
  

.tool {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.form-control:focus {
  outline: none !important;
  box-shadow: none;
}
.toolKit {
  display: flex;
  overflow: scroll;
  text-align: center;
}
#textArea{
    height: auto;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin: 3rem;
    padding: 3rem;
    background-color: #fff;
    overflow: scroll;
  
}
